 {{#if user}}


  <div id="cardContainer" class="row"></div>
  </div>

  {{else}}
<div class="appTitle red darken-4 white-text">
  <h1>Dev Blog</h1>
  <h4>Join to the best blog for developers by registering for an account!</h4>
</div>

  <div class="divider orange lighten-2"></div>
  <div class="section blue accent-4 white-text center">
    <h5 >The Best page to share your developer's experience</h5>
    <p>Everuthing is better with some code.</p>
  

  {{/if}}